@use '../1-abstracts' as abst

/* * Main Into Title and Paragraph text Styles*/
.intro 
    display: flex
    flex-direction: column
    align-items: center

    @media screen and (min-width: 1440px)
        width: 38%
        align-items: start

    h1 
        text-align: center
        font-size: clamp(3.4rem, 3vw, 4.8rem)
        line-height: 3.4rem
        font-weight: 700
        color: abst.$color-magenta-drk
        margin-bottom: 2.4rem

        @media screen and (min-width: 1440px)
        line-height: 4.5rem

    p
        text-align: center
        font-size: 1.4rem
        max-width: 45ch
        line-height: 2.5rem
        color: abst.$color-magenta-gray-drk
        margin-bottom: 4rem

.intro h1,
.intro p
    @media screen and (min-width: 1440px)
        text-align: left

/* * Banner 5 star rating Text Styles */
.banner p
    text-align: center
    font-size: 1.3rem
    font-weight: 700
    color: abst.$color-magenta-drk
    width: 100%

/* * Card Text Styles */
.card__name,
.card__subtitle
    font-size: 1.3rem

.card__subtitle,
.card__testimonial    
    font-weight: 400

.card__name,
.card__testimonial
    color: abst.$color-white

.card__name
    font-weight: 500

.card__subtitle
    color: abst.$color-pink

.card__testimonial
    font-size: 1.2rem
    line-height: 2rem
    letter-spacing: 0.05rem
