@use '../1-abstracts' as abst

/* * HTML Styles */
html
    font-family: abst.$font-primary
    font-size: 62.5%
    font-weight: 400

/* * Body Styles */
body 
    min-height: 100vh
    display: flex
    flex-direction: column