@use '../1-abstracts' as abst

/* * Group of Banners with Star Ratings Styles */
.banner-group
    width: 100%
    margin-bottom: 4rem

    @media screen and (min-width: 414px)
        display: flex
        flex-direction: column
        max-width: 45rem

    @media screen and (min-width: 1440px)
        max-width: 53.6rem

.banner
    display: flex
    flex-direction: column
    align-items: center
    padding: 1.5rem 6rem
    background-color: abst.$color-magenta-gray-lit
    border-radius: 0.8rem
    margin-bottom: 1.8rem

    @media screen and (min-width: 414px)
        &--1
            align-self: flex-start

        &--2
            align-self: center

        &--3
            align-self: flex-end
    
    @media screen and (min-width: 1440px)
        flex-direction: row
        align-items: start
        width: 44.2rem
        padding: 2rem 3rem 0.5rem

.banner__stars
    display: flex
    justify-content: space-evenly
    width: 13.5rem
    margin-bottom: 1.5rem

