@use '../1-abstracts' as abst

.card-group
    display: flex
    flex-direction: column
    align-items: center
    width: 100%

    @media screen and (min-width: 1440px)
        flex-direction: row
        justify-content: space-between
        height: 28.2rem

.card
    background-color: abst.$color-magenta-drk
    border-radius: 0.8rem
    max-width: 35rem
    margin-bottom: 1.6rem

    @media screen and (min-width: 1440px)
        &--1
            align-self: start

        &--2
            align-self: center

        &--3
            align-self: end

.card__content
    padding: 4rem 3.2rem 3.8rem
    display: grid
    grid-template-columns: 4rem auto
    grid-template-rows: repeat(2, 2rem) auto
    column-gap: 2.5rem
    grid-template-areas: "image name" "image subtitle" "tstmnl tstmnl"


.card__image
    border-radius: 50%
    grid-area: image

.card__name
    grid-area: name


.card__subtitle
    grid-area: subtitle


.card__testimonial
    grid-area: tstmnl
    line-height: 2.2rem
    margin-top: 2.5rem
